<body>
  <br>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Signup page</div>
    <div class="card-body">

      <table align="text-center">
        <tr>
            <td>User:</td>
            <td><select class="form-control form-control-sm bg-secondary">
                <option selected>Choose...</option>
                <option>Admin</option>
                <option>Client</option>
            </select></td>
        </tr>
        <tr>
          <td>Firstname:</td>
          <td><input type="text" placeholder="Enter your Firstname" required></td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type="text" placeholder="Enter your Lastname" required></td>
          </tr>
          <tr>
            <td>IDnumber:</td>
            <td><input type="text" placeholder="ID required" required></td>
          </tr>
          <tr>
            <td>Email Address:</td>
            <td><input type="text" placeholder="Email required" required></td>
          </tr>
          <tr>
            <td>Confirm Email:</td>
            <td><input type="text" placeholder="Confirm email" required></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="text" placeholder="Password" required></td>
          </tr>
          <tr>
            <td>Confirm password:</td>
            <td><input type="text" placeholder="Confirm password" required></td>
          </tr>
      </table>
      <p class="message">Already have an account?  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" > <a routerLink="/login">Login</a>
    </p>
    <div class="d-grid gap-2">
      <button class="btn btn-lg btn-info" type="button">Submit</button></div>
   </div>

        
     
      
 
     
 
