
.card{
    margin: 50%;
}
 
#login-error-alert {
    animation-name: fadeInAndOut;
    animation-duration: 5s;
}


@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.ee {
    background-repeat: repeat-y;
    background-size: auto; 
    height: 900px;
  }
  